# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Alembic cache
alembic/versions/__pycache__/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

